@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body {
  font-family: Alef Hebrew, Arial, sans-serif;
}
.frame {
  position: absolute;
  left: 0px;
  top: 0px;
  background: none;
  border: 4px solid #3b3b3b;
  max-width: 900px;
  direction: rtl;
}
.frame h1 {
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid #3b3b3b;
  min-height: 54px;
  font-size: 28px;
}
.frame p {
  font-size: 16px;
  color: #000000;
  line-height: 23px;
  border-bottom: 4px solid #3b3b3b;
  padding: 0 10px 10px;
}
.frame p .grow20 {
  color: #3e48b5;
  font-weight: bold;
}
.frame p .shrink20 {
  color: #c09100;
  font-weight: bold;
}
#search {
  margin-top: -10px;
  background: #F2F1EF;
  border-bottom: 4px solid #3b3b3b;
  padding: 10px;
}
#search .nav {
  margin-bottom: 5px;
}
#search .nav li {
  float: right;
  margin-left: 10px;
}
#search .nav a {
  font-size: 14px;
  padding: 2px 8px;
  /* Rectangle 14: */

  border-radius: 39px;
  background: #CFDFEA;
}
#search form {
  max-width: 890px;
  margin: 0;
  position: relative;
}
#search form input {
  width: 100%;
  height: 37px;
  border-radius: 39px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  padding: 0;
  margin: 0 -1px;
  text-indent: 20px;
}
#search form button {
  position: absolute;
  top: 6px;
  left: 3px;
  content: "";
  background: none;
  border: none;
  box-shadow: none;
}
.name {
  direction: rtl;
}
.chartContainer {
  height: 500px;
  -webkit-transition: height ease-in-out 1s;
  -moz-transition: height ease-in-out 1s;
  -o-transition: height ease-in-out 1s;
  -ms-transition: height ease-in-out 1s;
}
.chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart svg {
  height: 100%;
  overflow: hidden;
}
.overlayContainer {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  width: 100%;
  height: 100%;
}
.overlayContainer .overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  background: #fff;
}
#tooltipContainer {
  position: absolute;
  bottom: 0;
  width: 240px;
  right: -150px;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  border: 2px solid #777;
}
#tooltip {
  text-align: center;
  z-index: 10;
  position: absolute;
  display: none;
  direction: rtl;
}
#tooltip .tail {
  position: absolute;
  bottom: -8px;
  right: 105px;
  width: 40px;
  height: 8px;
  background: url(images/tail_white.png) 50% 0%;
}
#tooltip .department {
  text-transform: uppercase;
  text-align: right;
  font-size: 12px;
  margin-bottom: 7px;
  color: #666;
  text-align: center;
}
#tooltip .discretion {
  color: #666;
  font-size: 11px;
  text-align: center;
  font-style: italic;
}
#tooltip .name {
  color: #000;
  font-size: 18px;
  text-align: center;
  background: #ddd;
  padding: 3px 0 6px;
}
#tooltip.minus .name {
  background: #ffd75a;
}
#tooltip.plus .name {
  background: #aaafe2;
}
#tooltip .value {
  left: 10px;
  top: 28px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
}
#tooltip .change {
  padding-right: 10px;
  direction: ltr;
  font-size: 16px;
  overflow: hidden;
  font-weight: bold;
  color: #666;
  text-align: center;
  display: inline;
}
#tooltip .valuesContainer {
  padding-top: 7px;
}
#tooltip.minus #tooltipContainer {
  border-color: #c09100;
}
#tooltip.minus #tooltipContainer .change {
  color: #c09100;
}
#tooltip.plus #tooltipContainer {
  border-color: #3e48b5;
}
#tooltip.plus #tooltipContainer .change {
  color: #3e48b5;
}
#tooltip .explanation,
#tooltip .history {
  font-size: 14px;
  text-align: center;
  margin: 3px;
  line-height: 1.3em;
}
