//
// Budget Comparison visualization
//
// by the Public Knowledge Workshop 2013
//


@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

// variables:

@frame: 4px solid #3B3B3B;
@max-width: 900px;
@min-width: 400px;
@height: 500px;
@growColor:		#3e48b5;
@shrinkColor:	#c09100;
@alef: Alef Hebrew, Arial, sans-serif;
@iconFont: FontAwesome;
@textColor: #444;
@linkColor: darken(#009AC8, 10%);
@helptip: rgba(0,0,0,0.7);

body, form, input { 
	font-family: @alef;
}

a{
	color: @linkColor;
}

.frame{
        position:absolute;
	left:0px;
	top:0px;

	background: none;
	border: @frame;
	max-width: @max-width;
	min-width: @min-width;
	direction: rtl;
	h1{
		font-weight: bold;
		text-align: center;
		border-bottom: @frame;
		min-height: 54px;
		font-size: 28px;
	}
	p{
		font-size: 16px;
		color: #000000;
		line-height: 23px;
		border-bottom: @frame;
		padding: 0 10px 10px;
		.grow20{color: @growColor; font-weight: bold}
		.shrink20{color: @shrinkColor; font-weight: bold}
	}
	.description {
	    background: #fff;
	    p {	     
		min-height: 69px;
	    }
	}
}

#search{
	margin-top: -10px;
	background: #F2F1EF;
	border-bottom: @frame;
	padding: 10px;
	.nav{
		margin-bottom: 5px;
		li{
			float: right;
			margin-left: 10px;
		}
		a{
			font-size: 14px;
			padding: 2px 8px;
			/* Rectangle 14: */
			border-radius: 39px;
			background: #CFDFEA;
		}
	}
	form{
		max-width: @max-width - 10;
		margin: 0;
		position: relative;
		input{
			width: 100%;
			height: 37px;
			border-radius: 39px;
			background: #FFFFFF;
			border: 1px solid #D4D4D4;
			padding: 0;
			margin: 0 -1px;
			text-indent: 20px;
		}
		button{
			position: absolute;
			top:6px;
			left: 2px;
			padding: 3px 10px;
			font-size: 1.5em;
			content:"";
			background: none;
			border: none;
			border-radius: 0;
			border-right: 1px solid #ccc;
			box-shadow: none;
			color: #444;
			&:hover{color: @textColor}
		}
	}
}

.name {
  direction: rtl;
}

.chartContainer {
        position:relative;
	-webkit-transition: height ease-in-out 1s;  
	-moz-transition: height ease-in-out 1s;    
	-o-transition: height ease-in-out 1s;    
	-ms-transition: height ease-in-out 1s;  
	//position: relative;   

	h2.breadcrumbs{
		//text-align: center;
		background: #f9f9f9;
		padding: 5px 10px;
		margin: 1px 0 0 0;
		line-height: 1.2em;
		font-size: 16px;
		font-weight: normal;
		min-height: 40px;
		border-bottom: 1px solid #D4D4D4;

		.breadcrumbsSeparator:after {
		    content:" / ";
		}			

		.breadcrumbsMsh{
			margin-right: 10px;
		}

		a{
			color: #777;

			&.btnBack{
				left: 15px;
				top: 15px;
				position: absolute;
				display: block;
				color: lighten(@textColor,30%);
				font-size: 1.2em;
				&:hover{
					text-decoration: none;
					color: @textColor;
				}
			}

			&.active,
			&.breadcrumbsLink{
				padding: 10px;
				display: inline-block;
				@media all and (max-width: 500px){
					padding: 0 0 0 10px;
				}
				//color: @linkColor;
				icon{
					font-size: 1em;
				}
			}
			&:hover{
			    color: @linkColor;
			    text-decoration: none;
			}
		}
	}  

	.breadpart{
		color: @linkColor;
		&:hover{
			cursor: pointer;
			text-decoration: underline;
		}
		&.breadcrumbsCurrent{
			font-weight: bold;
		}
	}
}

.chartButtons {
	background: none;

	a {
	        position: absolute;
		color: @textColor;
		i {
		    font-size: 1.5em;
		}
		&:hover{
			opacity: 0.5;
			text-decoration: none;
			}
		&.btnCancel,&.btnLupe{
		    top:15px;
		    left:15px;
		}
		&.btnDownload{
		    bottom: 40px;
		    left: 15px;
		}
		&.btnEmbed {
	    	bottom:40px;
		    left: 50px;
		}
		&.btnLink {
	    	bottom:40px;
		    left: 85px;
		}
		&.btnShare {
	    	bottom:40px;
		    left: 120px;
		    color: #3B5998;
		}	      
	}

	div.btnShareContainer {
	    position: absolute;
	    bottom:40px;
	    left: 5px;
	}

	div.color-index{
		background: url(images/color-index.png);
		width: 31px;
		height: 328px;
		position: absolute;
		margin-top: -164px;
		left: 4px;
		top: 50%;
	}
}

div.btnShareContainer {
    position: absolute;
    width:200px;
    height:20px;
    top:6px;
    left: 6px;
    fb:like {
	position:absolute;
	bottom:30px;
	left:50px;
	iframe {
	}
    }
}

.chart {
	width: 100%;
	height: @height;
	overflow: hidden;
	//position: relative;
	svg {
		height: @height;
		overflow: hidden;

		.disappeared{
			stroke-width: 2px !important;
			fill: rgba(0, 0, 0, 0) !important;
			stroke-dasharray: 2px !important;
		}
	}
}

.overlayContainer {
	position: absolute;
	left: 0;
	top: 0;
	background: none;
	width: 100%;
	height: 100%;

	.overlay {
		position:absolute;
		left:0px;
		top:0px;
		width: 100%;
		height: 100%;
		opacity:0.0;
		background: #fff;
	}
}

/////////////////////////
//
//		Tooltips
//
/////////////////////////

// help tooltips:
.tooltip-inner {
	background: @helptip;
	font-size: 1.2em;
}

.tooltip.top .tooltip-arrow {border-top-color: @helptip;}
.tooltip.right .tooltip-arrow {border-right-color: @helptip;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: @helptip;}
.tooltip.left .tooltip-arrow {border-left-color: @helptip;}

// vis tooltips:;

#tooltipContainer {
	position: absolute;
	width: 260px;
	right: -130px;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);  
	text-align:center;
	border: 2px solid #777;
}

#tooltip {
	text-align:center;  
	z-index: 10;
	position: absolute;
	display: none;
	direction:rtl;
	
	.arrow {
		position: absolute;
		right: 100px;
		width: 40px;
		height: 8px;
		//color: #fff;
		&.bottom {
		    bottom: 0px;
		    //background: url(images/bottom_white.png) 50% 0%;
		}
		&.top {
		    top: -18px;
		    //background: url(images/top_white.png) 50% 0%;
		}
	}
	.itemNumber {
		text-transform: uppercase;
		text-align: right;
		font-size: 12px;
		margin-bottom: 7px;
		color:#666;
		text-align:center;  
	}
	.discretion{
		color:#666;
		font-size: 11px;   
		text-align:center;  
		font-style:italic;
	}
	.name {
		color: #000;
		font-size: 18px;
		text-align: center;
		background: #ddd;
		padding: 3px 0 6px;
	}
	&.minus .name {background: lighten(@shrinkColor,30%);} //should be set dynamic
	&.plus .name {background: lighten(@growColor,30%);} //should be set dynamic
	.value {
		text-align:center;
		left:10px;
		top:28px;
		font-size: 16px;
		text-align:center;  
		overflow:hidden;
		font-weight:bold;
	}
	.change {
		padding-right:10px;
		direction: ltr;
		font-size: 16px;  
		overflow:hidden;
		font-weight:bold;  
		color:#666;
		text-align:center;  
		display:inline;
	}
	.valuesContainer {
		padding-top:7px;
	}
	&.minus #tooltipContainer{
		border-color: @shrinkColor;
		.change, .arrow{
			color:@shrinkColor;
		}
	}
	&.plus #tooltipContainer{
		border-color:@growColor;
		.change, .arrow{
			color:@growColor;
		}
	}
	.explanation,.history{
		font-size: 14px;
		text-align: center;
		margin: 3px;
		line-height: 1.3em;
	}
	.history{
		margin: 0;
		padding: 0 3px;
		font-size: 12px;
		font-weight: bold;
		&.plus{color:@growColor}
		&.minus{color:@shrinkColor}
	}
}

#asterisk{
	padding: 10px 10px 10px 140px;
	color: lighten(@textColor, 30%);
	strong{
		font-size: 1.3em;
		line-height: 0.8em;
	}
}

#footer{
	background: #ddd;
	border-top: 2px solid #444;
	padding: 2px;
	a.more{
		float: left;
		display: block;
		margin-left: 5px;
		@media all and (max-width: 570px){
			span{
				display:none;
			}
			&:before{
				content: "עוד ";
			}
		}
	}
}

.modal{
	text-align: right;
	ul.nav li{
		float: right;
	}
	.item-select{
		width: 100%;
	}
	img{
		width: 260px;
		margin: 10px -10px 10px 0;
		float: right;
	}
	.shareItemDetails{
		margin-right: 20px;
		float: right;
		p { max-width: 250px;  }
	}
	.modal-footer a{
		float: left;
	}
}

#select2-drop{
	float: right;
}

///////////////////////////////////////////////////////////
//
//			SELECT 2
//
///////////////////////////////////////////////////////////



/*
Version: @@ver@@ Timestamp: @@timestamp@@
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input{
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;

    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

    -webkit-border-radius:0 0 4px 4px;
       -moz-border-radius:0 0 4px 4px;
            border-radius:0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 90%);
}

.select2-container.select2-allowclear .select2-choice span {
    margin-right: 42px;
}

.select2-container .select2-choice span {
    margin-right: 12px;
    font-size: 1.2em;
	line-height: 2.2em;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    -ms-text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-undermask {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: transparent;
    filter: alpha(opacity=0);
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
}

.select2-drop {
    width: 100%;
    margin-top:-1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice div {
    //display: inline-block;
    display: none;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}

.select2-container .select2-choice div b {
    display: block;
    width: 100%;
    height: 100%;
    //background: url('select2.png') no-repeat 0 1px;
    content: "&#xf0dd";
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 1px 0;
    padding: 5px 4px 4px;
    background: #eee;
    border-bottom: 1px solid lighten(@textColor, 30%);

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 34px;
    padding: 4px 35px 4px 5px;
    margin: 0;
    line-height: 26px;
    font-size: 1.2em;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    background: #fff url('icon-search.png') no-repeat right 6px;

    background: url('icon-search.png') no-repeat right 6px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('icon-search.png') no-repeat right 6px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('icon-search.png') no-repeat right 6px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('icon-search.png') no-repeat right 6px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('icon-search.png') no-repeat right 6px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('icon-search.png') no-repeat right 6px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
       -moz-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;

    -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center top, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(bottom, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(bottom, #ffffff 0%,#eeeeee 50%);
}

.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice div b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: white;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
       -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
            box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: url('select2.png') right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background:none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    outline: 0;
    left: 0px;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
      background-image: url('select2x2.png') !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
  }
  .select2-search input {
      background-position: 100% -21px !important;
  }
}

/**
 * Select2 Bootstrap CSS 1.0
 * Compatible with select2 3.3.2 and bootstrap 2.3.1
 * MIT License
 */
 
.select2-container {
  vertical-align: middle;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  height: 38px;
  line-height: 29px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: none;
  background-color: #ffffff;
  filter: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container .select2-choice div,
.select2-container.select2-container-disabled .select2-choice div {
  border-left: none;
  background: none;
  filter: none;
}

.control-group.error [class^="select2-choice"] {
  border-color: #b94a48;
}

.select2-container-multi .select2-choices .select2-search-field {
  height: 28px;
  line-height: 27px;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
  border-color: rgba(82, 168, 236, 0.8);
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

[class^="input-"] .select2-container {
  font-size: 14px;
}

.input-prepend [class^="select2-choice"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-append [class^="select2-choice"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown-open [class^="select2-choice"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[class^="input-"] [class^="select2-choice"] > div {
  display: none;
}

[class^="input-"] .select2-offscreen {
  position: absolute;
}

/**
 * This stops the quick flash when a native selectbox is shown and 
 * then replaced by a select2 input when javascript kicks in. This can be 
 * removed if javascript is not present 
 */
#search select.select2 {
  height: 28px;
  visibility: hidden;
}

/* Local modifications */
#search .select2-drop, .select2-container { 
    background-color: rgba(255,255,255,0.5);
}
.select2-drop, .select2-container { 
    direction: rtl; 
}

div.select2-search {
    //margin-top: 25px;
}
