<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <title>השווה את התקציב</title>
    <meta property="fb:admins" content="100000025217694" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="libs/bootstrap-combined.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <!--link href="budget.css" rel="stylesheet"-->
    <link rel="stylesheet/less" type="text/css" href="budget.less" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <script src="libs/less.min.js" type="text/javascript"></script>
    
    <div class="container-fluid">
      <div class="row-fluid">
	<div id="charts" class="span12">
	</div> 
      </div>
    </div> <!-- End Container -->
    
    <div id="tooltip">
      <div id="tooltipContainer">
	<div class="department"></div>
	<div class="rule"></div>
	<div class="name"></div>
	<div class="discretion"></div>
	<div class="valuesContainer">
	  <span class="value"></span>
	  <span class="change"></span>
	</div>
	<div class="explanation"></div>
	<div class="history"></div>
	<!--div class="chart"></div-->
	<div class="arrow top icon-caret-up icon-2x"></div>
	<div class="arrow bottom icon-caret-down icon-2x"></div>
      </div>
    </div>

    <!-- Budget data -->
    <script src="libs/jquery.min.js" type="text/javascript"></script>
    <script src="libs/d3.v3.min.js" type="text/javascript"></script>
    <script src="libs/underscore-min.js" type="text/javascript"></script>
    <script src="libs/backbone-min.js" type="text/javascript"></script>
    <script src="libs/native.history.min.js" type="text/javascript"></script>
    <script src="libs/coffee-script.js" type="text/javascript"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/select2.min.js"></script>
    <script type="text/javascript" src="data.js"></script>
    <script type="text/coffeescript" src="vis.coffee"></script>

    <script type="text/html" id="chart-template">
      <div data-id="<%= id %>">
	<div class="overlayContainer">
	  <div class="overlay"></div>
	</div>
	<div class="active item frame">
	  <h1 class="header"><%= title %></h1>
	  <div class="description">
	    <p> תקציב המדינה הדו-שנתי 2011/2012 הועבר בכנסת בסוף דצמבר 2010. <span class="grow20">העיגולים הסגולים</span> מציגים סעיפים שגדלו ב2012 ביחס לתיקצובם ב2011 ו<span class="shrink20">הצהובים</span> את אלה שקטנו. <%= subtitle %></p>
	  </div>
	  <div id="search">
	    <!--ul class="tags nav nav-pills">
              <li class="tag"><a href="#">משרד החינוך</a></li>
              <li class="tag"><a href="#">משרד הבריאות</a></li>
              <li class="tag"><a href="#">משרד הבטחון</a></li>
	    </ul-->
	    <form class="form-search">
              <input type="text" class="mysearch" style="width:100%;"/>
	      <button type="submit" class="btn"><i class="icon-caret-down"></i></button>
	    </form>
	  </div>
	  <div class="chartContainer">
	    <div class="chart"></div>
	    <div class="chartButtons">
              <a href="#" class="btnCancel"><i class="icon-remove"></i></a>
              <a href="#" class="btnShare"><i class="icon-facebook"></i></a>
              <a href="#" class="btnDownload" download target="_new"><i class="icon-download-alt"></i></a>
	    </div>
	  </div>
	</div>
      </div>
    </script>
  </body>
